<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
    <system.serviceModel>

      <bindings>
        <wsHttpBinding>
          <binding name="AllowBigMessageSize" maxReceivedMessageSize="2147483647"/>
        </wsHttpBinding>
      </bindings>

      <!--服务列表-->
      <services>
        <service name="RoomInfoManagementService.RoomInfoManagementImplementation" behaviorConfiguration="ExposeRoomInfoMetaDataBehavior">
          <endpoint address="http://localhost:9918/RoomInfoManagementService"
                    binding="wsHttpBinding"
                    bindingConfiguration=""
                    contract="RoomInfoManagementInterface.IRoomInfoManagement"/>
        </service>
        <service name="RoomInfoManagementService.RoomTaskManagementImplementation" behaviorConfiguration="ExposeRoomTaskMetaDataBehavior">
          <endpoint address="http://localhost:9918/RoomTaskManagementService"
                    binding="wsHttpBinding"
                    bindingConfiguration=""
                    contract="RoomInfoManagementInterface.IRoomTaskManagement"/>
        </service>
        <service name="SingManagementService.SingerInfoManagementImplementation" behaviorConfiguration="ExposeSingerInfoMetaDataBehavior">
          <endpoint address="http://localhost:9918/SingerManagementService"
                    binding="wsHttpBinding"
                    bindingConfiguration=""
                    contract="SingManagementInterface.ISingerInfoManagement"/>
        </service>
        <service name="SingManagementService.SongInfoManagementImplementation" behaviorConfiguration="ExposeSongInfoMetaDataBehavior">
          <endpoint address="http://localhost:9918/SongManagementService"
                    binding="wsHttpBinding"
                    bindingConfiguration=""
                    contract="SingManagementInterface.ISongInfoManagement"/>
        </service>
      </services>

      <!--服务行为-->
      <behaviors>
        <serviceBehaviors>
          <behavior name="ExposeRoomInfoMetaDataBehavior">
            <serviceMetadata httpGetEnabled="true"
                             httpGetUrl="http://localhost:9918/RoomInfoManagement/MEX"/>
          </behavior>
          <behavior name="ExposeRoomTaskMetaDataBehavior">
            <serviceMetadata httpGetEnabled="true"
                             httpGetUrl="http://localhost:9918/RoomTaskManagement/MEX"/>
          </behavior>
        
          <behavior name="ExposeSingerInfoMetaDataBehavior">
            <serviceMetadata httpGetEnabled="true"
                             httpGetUrl="http://localhost:9918/SingerInfoManagement/MEX"/>
          </behavior>
          <behavior name="ExposeSongInfoMetaDataBehavior">
            <serviceMetadata httpGetEnabled="true"
                             httpGetUrl="http://localhost:9918/SongInfoManagement/MEX"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>

    </system.serviceModel>
</configuration>