<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
    <system.serviceModel>

      <bindings>
        <wsHttpBinding>
          <!--allowCookies 是否WCF客户端自动存储并重新发送单个web服务发送的任何cookie-->
          <!--bypassProxyOnLocal 是否对本地地址不使用代理服务器-->
          <!--closeTimeout 传输引发异常之前可用于关闭连接的时间间隔-->
          <!--hostNameComparisonMode 在URL进行匹配时，是否使用主机名来访问服务 StrongWildcard表示忽略匹配项中的主机名-->
          <!--maxBufferPoolSize 设置最大分配，以字节为单位，缓冲区管理器管理使用此绑定的终结点所需的缓冲区的内存量-->
          <!--maxReceivedMessageSize 设置最大大小，以字节为单位，可以由绑定处理的消息-->
          <!--messageEncoding 使用MTOM还是文本/XML对SOAP消息进行编码-->
          <!--openTimeout 在传输引发异常之前可用于打开连接的时间间隔-->
          <!--readerQuotas 配置此绑定的终结点处理的SOAP消息的复杂性约束-->
          <!--receiveTimeout 连接在撤销之前那保持非活动状态的最大时间间隔-->
          <!--security 此绑定一起使用的安全设置-->
          <!--sendTimeout 在传输引发异常之前可用于完成写入操作的时间间隔-->
          <!--textEncoding 用于消息文本的字符编码-->
          <!--useDefaultWebProxy 是否应使用系统的自动配置HTTP代理-->
          <binding name="wsHttpBinding_ManagementService"
                   allowCookies="false"
                   bypassProxyOnLocal="false"
                   closeTimeout="00:02:00"
                   hostNameComparisonMode="StrongWildcard"
                   maxBufferPoolSize="2147483647"
                   maxReceivedMessageSize="2147483647"
                   messageEncoding="Text"
                   openTimeout="00:02:00"
                   receiveTimeout="10:10:00"
                   sendTimeout="00:02:00"
                   textEncoding="utf-8"
                   useDefaultWebProxy="true">
            <readerQuotas maxDepth="32"
                          maxStringContentLength="8192"
                          maxArrayLength="16384"
                          maxBytesPerRead="4096"
                          maxNameTableCharCount="16384" />
          </binding>
        </wsHttpBinding>
      </bindings>

      <!--服务列表-->
      <services>
        <service name="RoomInfoManagementService.RoomInfoManagementImplementation" behaviorConfiguration="ExposeRoomInfoMetaDataBehavior">
          <endpoint address="http://localhost:9918/RoomInfoManagementService"
                    binding="wsHttpBinding"
                    bindingConfiguration="wsHttpBinding_ManagementService"
                    contract="RoomInfoManagementInterface.IRoomInfoManagement"/>
        </service>
        <service name="RoomInfoManagementService.RoomTaskManagementImplementation" behaviorConfiguration="ExposeRoomTaskMetaDataBehavior">
          <endpoint address="http://localhost:9918/RoomTaskManagementService"
                    binding="wsHttpBinding"
                    bindingConfiguration="wsHttpBinding_ManagementService"
                    contract="RoomInfoManagementInterface.IRoomTaskManagement"/>
        </service>
        <service name="SingManagementService.SingerInfoManagementImplementation" behaviorConfiguration="ExposeSingerInfoMetaDataBehavior">
          <endpoint address="http://localhost:9918/SingerManagementService"
                    binding="wsHttpBinding"
                    bindingConfiguration="wsHttpBinding_ManagementService"
                    contract="SingManagementInterface.ISingerInfoManagement"/>
        </service>
        <service name="SingManagementService.SongInfoManagementImplementation" behaviorConfiguration="ExposeSongInfoMetaDataBehavior">
          <endpoint address="http://localhost:9918/SongManagementService"
                    binding="wsHttpBinding"
                    bindingConfiguration="wsHttpBinding_ManagementService"
                    contract="SingManagementInterface.ISongInfoManagement"/>
        </service>
      </services>

      <!--服务行为-->
      <behaviors>
        <serviceBehaviors>
          <behavior name="ExposeRoomInfoMetaDataBehavior">
            <serviceMetadata httpGetEnabled="true"
                             httpGetUrl="http://localhost:9918/RoomInfoManagement/MEX"/>
          </behavior>
          <behavior name="ExposeRoomTaskMetaDataBehavior">
            <serviceMetadata httpGetEnabled="true"
                             httpGetUrl="http://localhost:9918/RoomTaskManagement/MEX"/>
          </behavior>
        
          <behavior name="ExposeSingerInfoMetaDataBehavior">
            <serviceMetadata httpGetEnabled="true"
                             httpGetUrl="http://localhost:9918/SingerInfoManagement/MEX"/>
          </behavior>
          <behavior name="ExposeSongInfoMetaDataBehavior">
            <serviceMetadata httpGetEnabled="true"
                             httpGetUrl="http://localhost:9918/SongInfoManagement/MEX"/>
          </behavior>
        </serviceBehaviors>

      </behaviors>

    </system.serviceModel>
</configuration>